.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Jetbrains files
.idea/*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]estResults/
[Gg]enerated/

# Visual Studio 2015/2017 cache/options directory
.vs/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg